# Environnement Python
__pycache__/
*.pyc[cod]
*.pyo
*.pyd
*.so

# Fichier de build et de distribution
*.egg
*.egg_info/
.eggs/
build/
dist/
wheels/
pip-wheel-metadata/

# Tests et cache
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/

# Environnement virtuel
.venv/
venv/
env/
ENV/
.ipynb_checkpoints/

# Streamlit et logs
.streamlit/
logs/
tmp/
*.log

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS et fichiers système
.DS_Store
Thumbs.db
desktop.ini

